.menu{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem ;
    margin-top: 3.2rem;
}

.menuLink {

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    text-decoration: none;
    background-color: var(--primary);
    color: var(--text-ouver-primay);
    padding: 1rem;
    border-radius: 0.8rem;
}

.menuLink:hover {
    filter: brightness(80%);
    transition: filter 0.2s ease-in-out;
    
}

.menuLink svg {
    width: 2.4rem;
    height: 2.4rem;
}